<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <title>影片详情</title>
</head>
<body>
<form th:action="@{/index2}"method="post">
    <input th:type="submit" th:value="返回" width="20" height="20"/>
</form>
<h1>速度与激情</h1>
<p style="width: 550px">简介：一个是美国外交安全局的忠诚特工、身材魁梧的执法者霍布斯（强森饰），
    一个是前英国军事特工精英、无法无天的恶棍肖（斯坦森饰）。在2015年的《速度与激情7》中首次对峙之后，
    两人不论言语还是肢体都冲突不断，一直试图打倒对方。 然而，
    通过高科技进行了基因增强的无政府主义者布里克斯顿（伊德瑞斯·艾尔巴饰）控制了一种可能永远改变人类命运的不为人知的生化武器，
    并且还打败了一位大胆优秀又特立独行的军情六处特工（曾出演《王冠》的凡妮莎·科比饰）——她恰好是肖的妹妹，
    为了扳倒这个世界上唯一可能比他们更厉害的敌人，这两个不共戴天的宿敌不得不联手。
    《速度与激情：特别行动》一片在《速度与激情》系列的宇宙中推开了一扇全新的大门。
    从洛杉矶到伦敦，从切尔诺贝利的有毒废墟到美丽的南太平洋岛国萨摩亚，本次特别行动席卷全球。 该片由大卫·雷奇执导(《死侍2》导演)，
    由《速度与激情》系列故事的缔造者克里斯·摩根编剧，摩根、强森、斯坦森和海拉姆·加西亚共同担纲制片。丹尼·加西亚、凯利·麦考密克、
    、史蒂文·查斯曼、伊森·史密斯和安斯利·戴维斯担任监制。
</p>
</body>
</html>