<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <title>影片详情</title>
</head>
<body>
<a th:href="@{/}">返回</a>
<h1>猩球崛起</h1>
<p style="width: 550px">简介：十年前，人类为自己的愚蠢付出惨痛代价，凶险致命的猿流感病毒蔓延全球，
    世界毁灭殆尽。而在毗邻旧金山的原始丛林，凯撒带领猩猩伙伴们建立起无忧无虑的王国，直到某一天，猩猩的家园的宁静再度被人类打破。
    在旧城苟延残喘的人类面临能源危机，他们试图利用森林腹地大坝的发电站提供能源。青年科学家马尔科姆试图说服聚集地负责人德里弗斯，
    希望通过和平手段取得猩猩部落的信任和同意。然而凯撒的好盟友科巴却无法摒除对人类的憎恨，他尝试着挑战者凯撒的权威。
</p>
</body>
</html>